body {
margin-top: 0;
margin-left: 0;
margin-right: 0;

}
.header {
  list-style-type: none;
  margin: 5px;
  overflow: hidden;
  margin-right: 16px;
  font-family: arial,sans-serif;
  font-size: 14px;
  display:inline-flex;
  justify-content: space-between;
  float:right;
  color: #5F6368
}
/* .header ul {
  
} */
.aboutus{
  list-style-type: none;
  margin: 5px;
  overflow: hidden;
  margin-right: 5px;
  font-family: arial,sans-serif;
  font-size: 14px;
  display:inline-flex;
  justify-content: space-between;
  color: #5F6368
}

.appbutton {
  opacity:0.5 ;
  filter:alpha(opacity=40);
}
.appbutton:hover {
  height: 50px;
  width: 50px;
  opacity:1.0;
  filter:alpha(opacity=100); 
}

.headerli a {
  display: block;
  color: #5F6368;
  padding: 5px 5px;
  text-decoration: none;
}

.profilepic {
  width: 30px;
  border-radius: 50%;
  float: right;
  clear: both;
}

.headerli a:hover {
  text-decoration: underline;
}

.container {
  text-align: center;
  margin: 100px;
}

.search-area {
  background: #fff;
  display: flex;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  z-index: 3;
  height: 44px;
  margin: 0 auto;
  margin-top: -77px;
  width: 582px;
  border-radius: 25px;
}

.search-area:hover {
  box-shadow: 0 2px 3px 0 rgba(138, 138, 138, 0.24), 0 2px 5px 0 rgba(138, 138, 138, 0.19);

}

.search {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 16px;
  padding-left: 14px;
  
}

.search-img {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.search-img span {
  color: #9aa0a6;
  height: 20px;
  width: 20px;
  margin-top: 0px;
  display: inline-block;
  fill: currentColor;
  line-height: 24px;
  position: relative;
}

.input-enter {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: white;
  margin-right: 6px;
  margin-bottom: 1px;
}

.input-area {
  color: transparent;
  flex: 100%;
  white-space: pre;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  display: block;
  
}

.input {
  width: 480px; 
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex:content;
  margin-top: -68px;
  font: 16px arial, sans-serif;
  line-height: 34px;
  height: 34px !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  cursor: text;
  
}
/* input içerisindeki type textin Border'ı 0 verildi */
.input[type=text] {
  border: none;
}
/* ************** */
.buttons {    
  display: block;
  text-align: -webkit-center;
  padding-top: 18px;
}
/* buttonların hover ile gölgelendirilmesi */
.googlesearch:hover
{
  box-shadow: 0 2px 3px 0 rgba(138, 138, 138, 0.24), 0 2px 5px 0 rgba(138, 138, 138, 0.19);
}
.feelinglucky:hover
{
  box-shadow: 0 2px 3px 0 rgba(138, 138, 138, 0.24), 0 2px 5px 0 rgba(138, 138, 138, 0.19);
}
/* ************************** */
.googlesearch {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
  
}

.feelinglucky {
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  color: #5F6368;
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none
}

.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-top: 1px solid #dadce0;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -8px;
  line-height: 10px;
  background-color: #f2f2f2;
}

.footerli {
  float: left;
}

.footerli a {
  display: block;
  color: #70757a;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin-left: 14px;
  margin-right: -20px;
}

.footerli a:hover {
  text-decoration: underline;
}

.voicelogo 
{
  display: inline-flex ;
  float: inline-end;
}


